header{
	height:50px;
}
.entete{
	text-align:center;
	color: white;
	font-size: 20px;
}
.titreIndex{
	text-align: center;
	color: solid black;
	font-style: bold;
	height: 40px;
	vertical-align: middle;
	margin-top: 20px;

}
footer {
	text-align: center;
	color: white;
}

body {
	height: 100%;
}

img.displayed {
	display: block;
	margin-left: auto;
    margin-right: auto;
    height: 360px;
    width: 100%;
    }

header.bienvenue{
	color: black;
	font-size: 70px;
	font-style: sans-serif;
	text-align: center;
}
