header{
	height:50px;
}
.entete{
	text-align:center;
	color: white;
}
.titreIndex{
	text-align: center;
	color: solid black;
	font-style: bold;
	height: 40px;
	vertical-align: middle;
	margin-top: 20px;
}
footer {
	text-align: center;
}

body {
	height: 100%;
}

img.displayed {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    }

img.displayed1 {
	display: block;
	height: 100%;
	width: 100%;
}