include layout.jade
body(id="blackg")
  p(id="pbtn")
    button(id="logout1").btn(type='submit' onclick="self.location.href='/'") Log out

  h1(id="welcome") Your account.

  p(id="list") My first name :
  p(id="espace1")
  p(id="list") My last name :
  p(id="espace1")
  p(id="list") My email :
  p(id="espace1")
  p(id="list") My password :