include layout.jade

body(id="blackg")
  p(id="pbtn")
    button(id="logout1").btn(type='submit' onclick="self.location.href='/'") Log out

  h1(id="welcome") Your albums.
  p(id="espace3")
  
  p(id="play")
    .btn-group.btn-group-toggle(data-toggle='buttons')
     label(id="label").btn.btn-secondary.active
        input.btn(type='radio', name='options', checked='', onclick="self.location.href='/addAlbum'")
        |  Add an Album
     label(id="label").btn.btn-secondary.active
        input.btn(type='radio', name='options', onclick="self.location.href='/updateAlbum'")
        |  Update an Album
 
