include layout.jade
body(id="blackg")
  p(id="pbtn")
    button(id="logout1").btn(type='submit' onclick="self.location.href='/'") Log out

  h1(id="welcome") Your Artists.
  p(id="espace3")
  
  p(id="play")
    .btn-group.btn-group-toggle(data-toggle='buttons')
     label(id="label").btn.btn-secondary.active
        input.btn(type='radio', name='options', checked='', onclick="self.location.href='/artist'")
        |  Add an Artist
     label(id="label").btn.btn-secondary.active
        input.btn(type='radio', name='options', onclick="self.location.href='/artist'")
        |  Update an Artist

           

 