include layout
body(id="register")

  block content
  h1(id="welcome")= "Welcome."
  p(id = "button")
    input(type='button', name='lien1', value='nom du lien', onclick="self.location.href='login.jade'", style='background-color:#3cb371')
