include layout
body(id="register")

  block content
  h1(id="welcome")= "Welcome."
  p(id = "button")
    button.btn.btn-primary.btn-lg.btn-block(type='button', value='Me connecter', onclick="self.location.href='login'",style='background-color: #20B2AA')
    button.btn.btn-secondary.btn-lg.btn-block(type='button', value='Inscription', onclick="self.location.href='register'",style='background-color: #20B2AA' )