include layout
body(id="register")

  block content
  h1(id="welcome")= "Welcome."
  p(id= "espace")
  p(id = "button")
    button.btn.btn-lg.btn-block(type='button', value='Me connecter', onclick="self.location.href='login'",style='background-color: #000000') Connexion
    button.btn.btn-lg.btn-block(type='button', value='Inscription', onclick="self.location.href='register'",style='background-color: #000000' ) Inscription
  
  footer(id="index")
    | © Music Manager 2020