include layout
body(id="register")

  block content
  h1(id="welcome")= "Welcome."
  
  p(id= "espace")
  h1(id="welcome1")= "Let the music guide you."
  p(id = "button")
    button(id="button1").btn.btn-lg.btn-block(type='button', value='Me connecter', onclick="self.location.href='login'",style='background-color: #000000') Sign in
    button(id="button1").btn.btn-lg.btn-block(type='button', value='Inscription', onclick="self.location.href='register'",style='background-color: #000000' ) Register
  