include layout.jade
body(id="register")
  p(id="pbtn")
    button(id="logout1").btn(type='submit' onclick="self.location.href='/'") Log out

  h1(id="welcome") Your library.
  p(id = "menu")
    .dropdown-menu
    a(id = "menu1").dropdown-item(href='#') My playlists
    a(id = "menu1").dropdown-item(href='#') Artists
    a(id = "menu1").dropdown-item(href='#') Album
    .dropdown-divider
    a(id = "menu1").dropdown-item(href='#') My account
 
 