include layout.jade
body(id="register")
  p(id="pbtn")
    button(id="logout1").btn(type='submit' onclick="self.location.href='/'") Log out

  h1(id="welcome") Your library.
  p(id = "menu")
    .dropdown-menu
    a.dropdown-item(href='#') Action
    a.dropdown-item(href='#') Another action
    a.dropdown-item(href='#') Something else here
    .dropdown-divider
    a.dropdown-item(href='#') Separated link
 
 