include layout.jade

body(id="blackg")
  p(id="pbtn")
    button(id="logout1").btn(type='submit' onclick="self.location.href='/'") Log out

  h1(id="welcome") Your playlists.
  p(id="espace3")
  
  p(id="play").btn-group.btn-group-toggle(data-toggle='buttons')
    label(id = "label").btn.btn-secondary.active
        input#option1(type='radio', name='options', checked='')
        |  Create a Playlist
    label.btn.btn-secondary.active
        input#option2(type='radio', name='options')
        |  Update a playlist

