include layout.jade
body(id="register")
    h1(id="welcome")= "Please sign up here."
    p(id= "espace1")
    form(id = "form")
        .form-group
            label(for='exampleInputFirstName1') First Name
            input#exampleInputPassword1.form-control(type='firstname')
        .form-group
            label(for='exampleInputLastName1') Last Name
            input#exampleInputPassword1.form-control(type='lastname')
        .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp')
            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password', aria-describedby='choosingPassword')
            small#choosingPassword.form-text.text-muted Please choose a password.
        .form-group
            label(for='exampleInputPasswordConfirmation1') Password Confirmation
            input#exampleInputPasswordConfirmation1.form-control(type='password_confirmation', aria-describedby='repeatPassword')
            small#repeatPassword.form-text.text-muted Please write again the chosen password.
        button(id="btn").btn(type='submit') Register