include layout.jade
body(id="register")
    h1(id="welcome")= "Update one of your playlist here."
    p(id= "espace1")
    form(id = "form")
        .form-group
            label(for='exampleInputPlaylistTitle1') Playlist Title
            input#exampleInputPlaylistTitle1.form-control(type='Playlist title')
        
        .form-group
            label(for='examplePlaylistd1') Playlist new Description
            textarea#exampleFormControlPlaylistd1.form-control(rows='3')
    p(id="espace4")
    button(id="button1").btn.btn-lg.btn-block(type='button', style='background-color: #8A2BE2') Add a song !    
    p(id="espace4")
    button(id="button1").btn.btn-lg.btn-block(type='button', style='background-color: #111111') Update My account
    button(id="button1").btn.btn-lg.btn-block(type='button', style='background-color: #B22222') Delete My account