body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#register {
background-image: url('../images/image6.jpg');
height: 100%; 
background-size: 100%;
}

#welcome{
  color: white;
  text-align: center;
  font-size: 58px;
}

a {
  color: #00B7FF;
}

#button{
  text-align: center;
  color: white;
  height: 40px;
  border-bottom: 1px solid #333333
}

#espace {
  height : 100px;
}

#index {
  color : whitesmoke;
}

#form {
  color : white;
}


#espace1 {
  height : 40px;
}

#button1{
  color:white;
}

#btn{
  background-color: black;
  color: white;
}

#welcome1{
  color: #222222;
  font-style: bold;
}
