body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#register {
background-image: url('../images/image6.jpg');
height: 100%; 
background-size: 100%;
}

#welcome{
  color: white;
  text-align: center;
  font-size: 58px;
}

a {
  color: #00B7FF;
}

#button{
  text-align: center;
  height: 25px;
  border-width: 0px;
}
