body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#register {
background-image: url('../images/image6.jpg');
height: 100%; 
background-size: 100%;
}

#welcome{
  color: white;
  text-align: center;
  font-size: 58px;
}

a {
  color: #00B7FF;
}

#button{
  text-align: center;
  color: white;
  height: 40px;
  border-bottom: 1px solid #333333
}

#espace {
  height : 65px;
}

#index {
  color : whitesmoke;
}

#form {
  color : white;
}


#espace1 {
  height : 50px;
}

#button1{
  color:white;
}

#btn{
  background-color: black;
  color: white;
}

#welcome1{
  color: white;
  font-style: bold;
  text-align: center;
}

#black {
  background-color: black;
  color: white;
}

#pbtn {
  text-align: right;
}

#logout {
  color: #444444;
}

#logout1 {
  color: white;
}

#espace2 {
  height: 5px;
}


#menu {
  text-align : center;
}

#menu1 {
  color: rgb(24, 228, 24);
  font-size: 50px;
}

#menu1:hover {
  color: black;
}